
body {
    text-align: center;
    background-image: url('/img/back2.jpg');
    font-family:'Roboto',sans-serif;
}

h1 {
    font-size: 70px;
}

.block {
    background-color: rgb(58, 167, 167);
    color: whitesmoke;
    border-radius: 40px;
    margin: 10px;
}

.levels { 
    padding: 10px;
    font-size: 20px;
}

.head {
    text-decoration: underline;
}

.info {    
    padding: 5px 20px;
    font-size: 20px;
    justify-content: space-between;
    text-align: justify; 
    display: inline-block;
    color: whitesmoke;
    background-color: purp;
}

.info:hover {
    cursor: not-allowed;
}

.time {
    padding-left: 30px;
}

.mark-count {
    padding-right: 30px;
}


table {
    position: sticky;
    margin: auto;
    background-color: whitesmoke;
    table-layout: fixed;
}

td, .cell {
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
    table-layout: fixed;  
    background-color: rgba(245, 245, 245, 0.459);
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }

  
.cell:active {
      box-shadow: inset 0 5em 3em -0.7em rgba(0,0,0,0.15),inset 0 0 0em 0.1em rgba(255,255,255,0.12);
    } 
    
.push{
    box-shadow: inset 0 2em 4em -1em rgba(0,0,0,0.15),inset 0 0 0em 0.1em rgba(255,255,255,0.12);
}
    
button.smiley {
    size: auto;
    background-color: purple;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}
   
button.smiley:hover, td:hover {
    cursor: pointer;
}

.game-over {
    background-color: black;
    opacity: 0.8;
}

.best-time {
    color: whitesmoke;
}

.best-time > * {
    font-size: 15px;
    padding: 5px 20px;
    display: inline-block; 
}